Repository ganatan/fullstack-starters: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:angular-starter, test:angular-starter, build:angular-starter, install:springboot-starter, test:springboot-starter, build:springboot-starter

Path conditions:
  install:angular-starter: any of: angular/angular-starter/**/*
  test:angular-starter: any of: angular/angular-starter/**/*
  build:angular-starter: any of: angular/angular-starter/**/*
  install:springboot-starter: any of: springboot/springboot-starter/**/*
  test:springboot-starter: any of: springboot/springboot-starter/**/*
  build:springboot-starter: any of: springboot/springboot-starter/**/*

Test angular-starter pipeline
  angular/angular-starter/README.md
Due: install:angular-starter, test:angular-starter, build:angular-starter

Test angular-bootstrap pipeline
  .gitlab/angular/angular-bootstrap.yml
  .gitlab/angular/angular-starter.yml
  angular/angular-bootstrap/README.md
Due: none

Test springboot-starter pipeline
  .gitlab/springboot/springboot-starter.yml
  springboot/springboot-starter/README.md
Due: install:springboot-starter, test:springboot-starter, build:springboot-starter

Test 3 pipelines
  angular/angular-bootstrap/README.md
  angular/angular-starter/README.md
  springboot/springboot-starter/README.md
Due: install:angular-starter, test:angular-starter, build:angular-starter, install:springboot-starter, test:springboot-starter, build:springboot-starter

Test 3 pipelines with workflow
  .gitlab/angular/angular-bootstrap.yml
  .gitlab/angular/angular-starter.yml
  .gitlab/springboot/springboot-starter.yml
  angular/angular-bootstrap/README.md
  angular/angular-starter/README.md
  springboot/springboot-starter/README.md
Due: install:angular-starter, test:angular-starter, build:angular-starter, install:springboot-starter, test:springboot-starter, build:springboot-starter

Test 3 pipelines with workflow
  .gitlab-ci.yml
  angular/angular-bootstrap/README.md
  angular/angular-starter/README.md
  springboot/springboot-starter/README.md
Due: install:angular-starter, test:angular-starter, build:angular-starter, install:springboot-starter, test:springboot-starter, build:springboot-starter

Test pipeline on multi trigger
  springboot/springboot-starter/README.md
Due: install:springboot-starter, test:springboot-starter, build:springboot-starter

Test springboot pipelines
  .gitlab-ci.yml
  .gitlab/springboot/springboot-checkstyle.yml
  springboot/springboot-checkstyle/.gitattributes
  springboot/springboot-checkstyle/.gitignore
  springboot/springboot-checkstyle/.mvn/wrapper/maven-wrapper.properties
  springboot/springboot-checkstyle/README.md
  springboot/springboot-checkstyle/checkstyle.xml
  springboot/springboot-checkstyle/docker/Dockerfile.backend-springboot
  springboot/springboot-checkstyle/mvnw
  springboot/springboot-checkstyle/mvnw.cmd
  springboot/springboot-checkstyle/pom.xml
  springboot/springboot-checkstyle/scripts/docker-app-build.bat
  springboot/springboot-checkstyle/scripts/docker-app-clean.bat
  springboot/springboot-checkstyle/scripts/docker-app-run.bat
  springboot/springboot-checkstyle/scripts/docker-app-stop.bat
  springboot/springboot-checkstyle/scripts/docker-list-containers.bat
  springboot/springboot-checkstyle/scripts/docker-list-images.bat
  springboot/springboot-checkstyle/scripts/docker-list-volumes.bat
  springboot/springboot-checkstyle/src/main/java/com/ganatan/starter/StarterApplication.java
  springboot/springboot-checkstyle/src/main/java/com/ganatan/starter/controllers/RootController.java
  springboot/springboot-checkstyle/src/main/java/com/ganatan/starter/modules/person/Person.java
  springboot/springboot-checkstyle/src/main/java/com/ganatan/starter/modules/person/PersonController.java
  springboot/springboot-checkstyle/src/main/resources/application.properties
  springboot/springboot-checkstyle/src/test/java/com/ganatan/starter/ApplicationTests.java
  springboot/springboot-starter/README.md
Due: install:springboot-starter, test:springboot-starter, build:springboot-starter

Test springboot-checkstyle pipelines
  .gitlab-ci.yml
  springboot/springboot-checkstyle/README.md
Due: none

Test springboot-checkstyle pipelines
  .gitlab-ci.yml
Due: none

Test springboot-checkstyle pipelines
  springboot/springboot-checkstyle/README.md
Due: none

Test springboot-starter pipelines
  springboot/springboot-starter/README.md
Due: install:springboot-starter, test:springboot-starter, build:springboot-starter

Test springboot-checkstyle pipelines
  .gitlab/springboot/springboot-checkstyle.yml
  springboot/springboot-checkstyle/README.md
Due: none

Test springboot-checkstyle pipelines
  .gitlab-ci.yml
  .gitlab/springboot/springboot-checkstyle.yml
  springboot/springboot-checkstyle/README.md
Due: none

Test springboot-checkstyle pipelines
  .gitlab/springboot/springboot-checkstyle.yml
Due: none

Test 4 pipelines
  angular/angular-bootstrap/README.md
  angular/angular-starter/README.md
  springboot/springboot-checkstyle/README.md
  springboot/springboot-starter/README.md
Due: install:angular-starter, test:angular-starter, build:angular-starter, install:springboot-starter, test:springboot-starter, build:springboot-starter

Test springboot-kafka gitlab pipeline
  .gitlab-ci.yml
  .gitlab/springboot/springboot-kafka.yml
  springboot/springboot-kafka/.gitattributes
  springboot/springboot-kafka/.gitignore
  springboot/springboot-kafka/.mvn/wrapper/maven-wrapper.properties
  springboot/springboot-kafka/Dockerfile
  springboot/springboot-kafka/README.md
  springboot/springboot-kafka/docker/Dockerfile.backend-springboot
  springboot/springboot-kafka/docker/docker-compose.kafka.yml
  springboot/springboot-kafka/mvnw
  springboot/springboot-kafka/mvnw.cmd
  springboot/springboot-kafka/pom.xml
  springboot/springboot-kafka/scripts/docker-app-build.bat
  springboot/springboot-kafka/scripts/docker-app-clean.bat
  springboot/springboot-kafka/scripts/docker-app-run.bat
  springboot/springboot-kafka/scripts/docker-app-stop.bat
  springboot/springboot-kafka/scripts/docker-list-containers.bat
  springboot/springboot-kafka/scripts/docker-list-images.bat
  springboot/springboot-kafka/scripts/docker-list-volumes.bat
  springboot/springboot-kafka/scripts/kafka-clean.bat
  springboot/springboot-kafka/scripts/kafka-start.bat
  springboot/springboot-kafka/scripts/kafka-stop.bat
  springboot/springboot-kafka/src/main/java/com/ganatan/starter/StarterApplication.java
  springboot/springboot-kafka/src/main/java/com/ganatan/starter/controllers/RootController.java
  springboot/springboot-kafka/src/main/java/tools/GenerateProjectStructure.java
  springboot/springboot-kafka/src/main/resources/application.properties
  springboot/springboot-kafka/src/test/java/com/ganatan/starter/ApplicationTests.java
  springboot/springboot-kafka/src/test/java/com/ganatan/starter/controllers/RootControllerTest.java
Due: none

Test springboot-rabbitmq gitlab pipeline
  .gitlab-ci.yml
  .gitlab/springboot/springboot-rabbitmq.yml
  springboot/springboot-kafka/docker/docker-compose.kafka.yml
  springboot/springboot-kafka/pom.xml
  springboot/springboot-kafka/src/main/resources/application.properties
  springboot/springboot-rabbitmq/.gitattributes
  springboot/springboot-rabbitmq/.gitignore
  springboot/springboot-rabbitmq/.mvn/wrapper/maven-wrapper.properties
  springboot/springboot-rabbitmq/Dockerfile
  springboot/springboot-rabbitmq/README.md
  springboot/springboot-rabbitmq/docker/Dockerfile.backend-springboot
  springboot/springboot-rabbitmq/docker/docker-compose.rabbitmq.yml
  springboot/springboot-rabbitmq/mvnw
  springboot/springboot-rabbitmq/mvnw.cmd
  springboot/springboot-rabbitmq/pom.xml
  springboot/springboot-rabbitmq/scripts/docker-app-build.bat
  springboot/springboot-rabbitmq/scripts/docker-app-clean.bat
  springboot/springboot-rabbitmq/scripts/docker-app-run.bat
  springboot/springboot-rabbitmq/scripts/docker-app-stop.bat
  springboot/springboot-rabbitmq/scripts/docker-list-containers.bat
  springboot/springboot-rabbitmq/scripts/docker-list-images.bat
  springboot/springboot-rabbitmq/scripts/docker-list-volumes.bat
  springboot/springboot-rabbitmq/scripts/rabbitmq-clean.bat
  springboot/springboot-rabbitmq/scripts/rabbitmq-start.bat
  springboot/springboot-rabbitmq/scripts/rabbitmq-stop.bat
  springboot/springboot-rabbitmq/src/main/java/com/ganatan/starter/StarterApplication.java
  springboot/springboot-rabbitmq/src/main/java/com/ganatan/starter/config/RabbitConfig.java
  springboot/springboot-rabbitmq/src/main/java/com/ganatan/starter/controllers/InfoController.java
  springboot/springboot-rabbitmq/src/main/java/com/ganatan/starter/controllers/RabbitController.java
  springboot/springboot-rabbitmq/src/main/java/com/ganatan/starter/controllers/RootController.java
  springboot/springboot-rabbitmq/src/main/java/com/ganatan/starter/messaging/RabbitConsumer.java
  springboot/springboot-rabbitmq/src/main/java/com/ganatan/starter/messaging/RabbitProducer.java
  springboot/springboot-rabbitmq/src/main/java/tools/GenerateProjectStructure.java
  springboot/springboot-rabbitmq/src/main/resources/application.properties
  springboot/springboot-rabbitmq/src/test/java/com/ganatan/starter/ApplicationTests.java
  springboot/springboot-rabbitmq/src/test/java/com/ganatan/starter/controllers/RootControllerTest.java
Due: none

fix kafka docker system
  springboot/springboot-kafka/docker/docker-compose.kafka.yml
  springboot/springboot-kafka/src/main/java/com/ganatan/starter/config/KafkaConfig.java
  springboot/springboot-kafka/src/main/java/com/ganatan/starter/controllers/KafkaController.java
  springboot/springboot-kafka/src/main/java/com/ganatan/starter/messaging/KafkaConsumer.java
  springboot/springboot-kafka/src/main/java/com/ganatan/starter/messaging/KafkaProducer.java
  springboot/springboot-kafka/src/main/resources/application.properties
Due: none

Add springboot-crud
  .gitlab-ci.yml
  .gitlab/springboot/springboot-crud.yml
  springboot/springboot-crud/.gitattributes
  springboot/springboot-crud/.gitignore
  springboot/springboot-crud/.mvn/wrapper/maven-wrapper.properties
  springboot/springboot-crud/README.md
  springboot/springboot-crud/mvnw
  springboot/springboot-crud/mvnw.cmd
  springboot/springboot-crud/pom.xml
  springboot/springboot-crud/src/main/java/com/ganatan/starter/StarterApplication.java
  springboot/springboot-crud/src/main/java/com/ganatan/starter/controllers/RootController.java
  springboot/springboot-crud/src/main/java/com/ganatan/starter/modules/person/Person.java
  springboot/springboot-crud/src/main/java/com/ganatan/starter/modules/person/PersonController.java
  springboot/springboot-crud/src/main/resources/application.properties
  springboot/springboot-crud/src/test/java/com/ganatan/starter/ApplicationTests.java
  springboot/springboot-kafka/src/main/java/com/ganatan/starter/messaging/KafkaConsumer.java
Due: none

Improve README.md
  README.en.md
  README.md
Due: none

Improve english README.md
  README-fr.md
  README.en.md
  README.md
Due: none

Improve springboot-crud README
  springboot/springboot-crud/README.md
  springboot/springboot-crud/checkstyle.xml
  springboot/springboot-crud/pom.xml
Due: none

Improve README links
  README.md
Due: none

Improve README links
  README-fr.md
  README.md
Due: none

Test angular-bootstrap github action
  .github/workflows/angular-bootstrap.yml
  README.md
Due: none

Test angular-bootstrap github action
  angular/angular-bootstrap/README.md
Due: none

Improve README
  README-fr.md
  README.md
Due: none

Test badges on angular-starter
  angular/angular-starter/README.md
Due: install:angular-starter, test:angular-starter, build:angular-starter

Test double badges
  README.md
  angular/angular-starter/package-lock.json
Due: install:angular-starter, test:angular-starter, build:angular-starter

Test double badges
  README.md
Due: none

Test double badges
  README-fr.md
Due: none

Add springboot-api-client starter
  .gitlab-ci.yml
  .gitlab/springboot/springboot-api-client.yml
  README-fr.md
  README.md
  springboot/springboot-api-client/.gitattributes
  springboot/springboot-api-client/.gitignore
  springboot/springboot-api-client/.mvn/wrapper/maven-wrapper.properties
  springboot/springboot-api-client/README.md
  springboot/springboot-api-client/checkstyle.xml
  springboot/springboot-api-client/docker/Dockerfile.backend-springboot
  springboot/springboot-api-client/mvnw
  springboot/springboot-api-client/mvnw.cmd
  springboot/springboot-api-client/pom.xml
  springboot/springboot-api-client/scripts/docker-app-build.bat
  springboot/springboot-api-client/scripts/docker-app-clean.bat
  springboot/springboot-api-client/scripts/docker-app-run.bat
  springboot/springboot-api-client/scripts/docker-app-stop.bat
  springboot/springboot-api-client/scripts/docker-list-containers.bat
  springboot/springboot-api-client/scripts/docker-list-images.bat
  springboot/springboot-api-client/scripts/docker-list-volumes.bat
  springboot/springboot-api-client/src/main/java/com/ganatan/starter/StarterApplication.java
  springboot/springboot-api-client/src/main/java/com/ganatan/starter/controllers/RootController.java
  springboot/springboot-api-client/src/main/java/com/ganatan/starter/modules/person/Person.java
  springboot/springboot-api-client/src/main/java/com/ganatan/starter/modules/person/PersonController.java
  springboot/springboot-api-client/src/main/java/com/ganatan/starter/modules/person/PersonService.java
  springboot/springboot-api-client/src/main/resources/application.properties
  springboot/springboot-api-client/src/test/java/com/ganatan/starter/ApplicationTests.java
Due: none
